* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat';
    font-weight: 700;
    background-image: url(../Img/bg-top.svg);
    background-color: #f6f6fe;
    background-position: -298% -4%;
    background-repeat:no-repeat;
    
}

.Pricing
{
    height: 200px;
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
}

.Pricing__Title{
    margin: 40px auto 40px;
    color: #494c5f;
}

.Pricing__Title h1 
{
    font-size: 3.6rem;
    
}

.Pricing__Toggle
{
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: #b3b5c6 ;
}

.TypesOfPlan
{
    display: flex;
    flex-direction: column;
}

.Plan
{
    height: 450px;
    margin: 0px 20px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.Plan--Primary
{
    background-color:blueviolet;
}

.Feature--Primary p
{
    color: white;
}

.Title
{
    font-size: 1.4rem;
    margin: 20px auto;
    color: #494c5f;
}

.Price
{
    font-size: 4.8rem;
    margin: 0 auto 20px;
    color: #494c5f;
}

.Feature
{
    margin: 0 auto;
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
    padding: 20px;
    width: 80%;
    font-size: 1.6rem;
    color: #6d708d;
}

.Feature--First
{
    border-top: 1px solid #dcdcdc;
}

.Button
{
    margin: 30px auto 0;
    width: 80%;
    padding: 15px 0;
    border: 0;
    font-weight: 700;
    border-radius: 5px;
}

.Button--Secoundary
{
    color: white;
}

.Button--Primary
{
    color: #696fdd;
}

.GradientBackground
{
    background-image: linear-gradient(to right, #a3a8f0, #696fdd);
}

.TimeBilling--Right
{
    margin-left: 20px;

}

.TimeBilling--Left
{
    margin-right: 20px;
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 2px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  